/* Button press animation */
.btn-reset:active,
.btn-modificar:active,
.btn-play:active,
.btn-dia-noche:active,
.btn-play-sonido:active {
    animation: boton 0.5s;
}

@keyframes boton {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.7);
    }
}